.container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 1rem;
    background: yellow;
    border: 2px solid black;
    padding: 0.5rem;
}
.item {
    background-color: orangered;
    border: 2px solid black;
}
.item:nth-child(1) {
    grid-column: span 8;
}

.item:nth-child(2) {
    grid-column: span 4;
}

